[Unit]
Description=Grow HAT Mini monitor, waterer and web UI
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=db
WorkingDirectory=/home/db/Documents/grow-python/app
ExecStart=/home/db/.virtualenvs/pimoroni/bin/python3 /home/db/Documents/grow-python/app/main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
